$primary-bg:#1f2937;
$hero-primary:#f9faf8;
$hero-secondary:#e5e7eb;
$button-clr:#3882f6;
$font-weights: (
    "light":300,
    "regular":400,
    "medium":500,
    "bold":700
);
$font-sizes: (
    "regular":18px,
    "medium":24px,
    "large":36px,
    "extra-large":48px
);